nav {
  background: var(--main-color);
  width: 16rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1.8rem 0.85rem;
  color: var(--white);
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

nav.shrinked {
  width: 5.4rem;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 2.1rem;
  margin: 0 0.8rem;
}

.sidebar-top h3 {
  padding-left: 0.5rem;
  font-weight: 600;
  font-size: 1.15rem;
}

.hide-on-shrink {
  transition: opacity 0.3s 0.2s;
}

.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.2rem;
  background: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -3rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn > * {
  line-height: 27px;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

nav.shrinked .shrink-btn * {
  transform: rotate(-180deg);
}

nav.shrinked .hide-on-shrink {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}

nav.shrinked h4 {
  margin: 0;
}

.search {
  min-height: 2.7rem;
  background: var(--main-color-light);
  margin: 2rem 0.5rem 1.7rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: var(--white);
  caret-color: var(--white);
  font-family: inherit;
}

.search input::placeholder {
  color: var(--text-color);
}

.sidebar-links a {
  text-decoration: none;
}

.sidebar-links ul {
  list-style: none;
}

.sidebar-links li {
  padding: 2.5px 0;
}

.sidebar-links a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 3.5rem;
}

.sidebar-links .sidebar-link-icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1rf;
  grid-template-rows: 1rf;
}

.sidebar-links .sidebar-link-icon i {
  grid-column: 1/2;
  grid-row: 1/2;
  transition: 0.3s;
}

.sidebar-links .sidebar-link-icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .sidebar-link-text {
  transition: opacity 0.3 0.2s color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}
.sidebar-links a.active i:last-child {
  opacity: 1;
}

.sidebar-links .active-tab {
  background-color: var(--main-color-dark);
  border-radius: 10px;
  transition: transform 0.3s;
}

.sidebar h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0 0.8rem;
  color: var(--text-color);
  letter-spacing: 0.5px;
  margin: 1rem 0;
  transition: opacity 0.3s 0.2s, margin 0.5s 0s;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-footer .account {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: var(--text-color);
  height: 3.5rem;
  width: 3.7rem;
  transition: opacity 0.3s 0s, color 0.3s 0s;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
}

.sidebar-footer .account:hover {
  color: #fff;
}

.sidebar-footer .user {
  display: flex;
  align-items: center;
}

.sidebar-footer .user-profile {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 100%;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
  overflow: hidden;
}

.sidebar-footer .user img {
  width: 3rem;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.sidebar-footer .user-info {
  padding-left: 0.3rem;
  white-space: nowrap;
}

.sidebar-footer .user-info h3 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1;
}

.sidebar-footer .user-info h5 {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--text-color);
  margin-top: 0.3rem;
  line-height: 1;
}

.sidebar-footer .user .logout {
  display: flex;
  height: 2.5rem;
  min-width: 2.4rem;
  background-color: var(--main-color-dark);
  text-decoration: none;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  border-radius: 0.7rem;
  transition: color 0.3s;
  margin: 0 0.65rem;
}

.sidebar-footer .user .logout:hover {
  color: var(--white);
}

nav.shrinked .account {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s 0.3s, color 0.3s 0s;
}

nav.shrinked .user-profile {
  max-width: 0;
  transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}
