nav {
  background: var(--main-color);
  width: 16rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1.8rem 0.85rem;
  color: #fff;
}

.shrink-btn {
  fill: #fff;
}
.sidebar-top {
  display: flex;
  align-items: center;
}

.sidebar-top .logo {
  width: 2.1rem;
}
