nav {
  background: var(--main-color);
  width: 16rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 1.8rem 0.85rem;
  color: #fff;
}

nav::before {
  content: "";
  position: absolute;
  width: 2rem;
  height: 100%;
  top: 0;
  left: 100%;
}

.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}

.shrink-btn {
  fill: #fff;
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.2rem;
  background: var(--main-color);
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  right: -3rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.shrink-btn:hover {
  background-color: var(--main-color-dark);
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.sidebar-top .logo {
  width: 2.1rem;
}
